

/* Safari 4.0 - 8.0 */

@-webkit-keyframes type{ 
	from { width: 0; } 
	to {width: 100%;}
} 


/* Standard syntax */

@keyframes type{ 
	from { width: 0; } 
	to {width: 100%;}
} 

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


body, header, h1, p, nav, div, ul, section{
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
}

body{
	background-color: #90CCF4;
}


header div.logobar{
	position: relative;
	height: 120px;
}

header div.logobar img{
	width: 100px;
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
}

header div.logobar div.imgback{
	width: 100%;
	height: 60px;
	background-color: #ECECEC;
}

header div.togglemenu{
	position: fixed;
	left: 50%;
	bottom: 20px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff;
	cursor: pointer;
	z-index: 5;
	opacity: 0.5;
}

header div.togglemenu:hover{
	opacity: 1;
	border:1px solid #5DA2D5;
}

header div.togglemenu p{
	display: block;
	line-height: 50px;
	text-align: center;
	font-size: 150%;
}

header div.togglemenu p.closeBtn{
	display: none;
}

header div.togglemenu p.openBtn{
	display: block;

}

header nav{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5DA2D5;
	z-index: 3;
	padding: 0;
	overflow: hidden;
}

header nav ul{
	display: block;
/*	width: 100%;*/
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

header nav ul li{
	padding: 2em 0;
}

header nav ul a{
	display: block;
	width: 100%;
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Cabin';
	font-size: 150%;
	font-weight: bold;
	color: #ECECEC;
	padding-bottom: 5px;
	border-bottom: 1px solid #90CCF4;
	animation: type 2s;
}

header nav ul p{
	font-family: 'Cabin';
	font-size: 100%;
	margin-top: 5px;
	color: #90CCF4;
}




div.greeting{
	margin-top: 2em;
}

div.greeting p.text-big span{
	display: inline-block;
	white-space: nowrap;
  	overflow: hidden;
	animation: 
	type 4s steps(60, end);
}

div.greeting p.text-small{
	padding: 1em;
	text-align: center;
	font-family: 'Average';
	font-size: 100%;
	color: #19323C;
}


div.greeting p.text-big{
	overflow: hidden;
	font-family: 'Cabin';
	text-align: center;
	font-size: 600%;
	color: #ffffff;
}

div.greeting p.text-big span.mark{
	font-size: 80%;
	color: #5DA2D5;
}

a.quicklink{
	display: block;
	width: 30%;
	min-width: 150px;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	font-family: 'Cabin';
	color: #ECECEC;
	background-color: #5DA2D5;
	border:1px solid #5DA2D5;
	border-radius: 5px;
}

a.quicklink:hover{
	background-color: transparent;
	color: #5DA2D5;
}

div.greeting::after{
	content: "";
	display: block;
	width: 100%;
	height: 100px;
}


section.full{
	padding: 3em;
}

section p{
	margin-bottom: 30px;
	text-align: center;
}

section h3{
	text-align: center;
	font-family: 'Cabin';
	font-size: 150%;
}

p.key{
	font-family: 'Cabin';
	font-size: 180%;
/*	border-left: 5px solid  #ECECEC;*/
}

p.detail{
	font-family: 'Average';
	font-size: 100%;
	color: #19323C;
}

p.tags{
	font-family: 'Average';
	font-size: 100%;
	color: #656565 ;
}

p.keywords{
	font-family: 'Cabin';
	font-size: 100%;
/*	color: #19323C;*/
}

section.workitem{
	padding:0;
	margin: 0;
	overflow: hidden;
}

div.item-wrap{
	padding: 2em;
}

footer{
	display: block;
	width: 100%;
	height: 120px;
/*	position: absolute;
	left: 0;
	bottom: 0;*/
	background-color: #ECECEC;	
}

footer p{
	width: 100%;
	text-align: center;
	padding-top: 1em;
	font-family: 'Cabin';
	font-size: 100%;
	color: #5DA2D5;
}

a.imglink{
	display: block;
	width: 100%;
}

a.imglink img{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
}

.storepage{
	background-color: #90CCF4;
}

.investecspage{
	background-color: #9e9e9e;
}

.jspage{
	background-color: #F3D250;
}

.yongeprojectpage{
	background-color: #1a2a57;
}

.cityfactspage{
	background-color: #F78888;
}

.brightback{
	background-color: #ECECEC;
}

.brighttext{
	color: #ECECEC;
}

.darktext{
	color: #19323C;
}

span.subtitle{
	display: block;
	font-family: 'Cabin';
	font-size: 120%;
	color: #5DA2D5;
	padding-bottom: 5px;
}

a.iconlink{
	text-decoration: none;
	color: #19323C;
}

a.iconlink:hover{
	color:#ECECEC;
}

a.textlink{
	text-decoration: none;
	color: #ECECEC;
	padding-bottom: 5px;
	border-bottom: 1px solid #5DA2D5;
}

i.roundback{
	background-color: #5DA2D5;
	width: 3em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
}

@media screen and (min-width: 800px){
	header div.togglemenu{
		position: fixed;
		left: 0;
		bottom: 0;
		margin-left: 0;
		width: 50px;
		height: 100vh;
		border-radius: 0;
		background-color: #000000;
		cursor: pointer;
		z-index: 5;
		opacity: 0.5;
		}

	header div.togglemenu p{
		display: block;
		line-height: 100vh;
		text-align: center;
		font-size: 150%;
		color: #ffffff;
	}

	header nav{
		width: 30%;
}

	header nav ul{
		margin-top: 50%;
	}


	section.workitem{
		height: auto;
		overflow: auto;
		clear: both;
		padding-left: 5em;
/*		display: flex;*/
	}

/*	section.workitem a{
		align-items: center;
	}*/

	a.imglink{
		margin: 0;
		padding: 0;
	}

	a.imglink img{
		display: inline-block;
		width: 50%;
		max-width: 800px;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		float: left;
	}

	div.item-wrap{
		display: inline-block;
		width: 45%;
		height: 100%;
		padding-top: 5em;
/*		height: 100%;*/
		/*padding: 3em 1em;*/
/*		align-items: center;*/
	}


	footer{
		position: fixed;
        left: 0;
        bottom: 0; 
		height: 2em;
	}
	footer p{
		padding: 0;
		line-height: 2em;
	}

}